In [ ]:
import pandas as pd



TASK 1.
Скачаем файл по ссылке и загрузим данные в Jupyter Notebook.

In [ ]:
titanic = pd.read_csv('titanic.csv')
titanic.head()



TASK 2.
Вызовем метод info(), чтобы увидеть число пропущенных значений.

In [ ]:
titanic.info()

Всего 891 пассажир.
Функции deck, age, embarked, embark_town имеют много пропущенных значений и 
поэтому не могут добавить большую ценность нашему анализу. 
Чтобы справиться с этим, мы удалим их из фрейма данных, чтобы сохранить целостность нашего набора данных.

In [ ]:
titanic = titanic.drop(['deck', 'age', 'embarked', 'embark_town'], axis=1)
titanic.head()



TASK 3.
Используем функцию df.groupby для подсчёта количества записей

a) Всего мужчин 577, а женщин 314. Следовательно, мужчин больше, чем женщин.

In [ ]:
titanic.groupby('sex').count()

b) Количество взрослых мужчин равно 537.
   Найдем их процентное отношение ко всем пассажирам: 537 / 891 * 100% = 60.27%

In [ ]:
titanic[titanic['adult_male'] == True].groupby('sex').count()

c) В первом классе 216 человек, во втором 184 человека, в третьем 491 человек.

In [ ]:
titanic.groupby('class').count()



TASK 4.
Вызовем метод describe()

######

In [ ]:
titanic.describe()

Средняя плата за билет составила 32.2, мин. плата 0, а макс. плата 512.33. 
Выжили лишь 38.38% всех пассажиров. 
Большинство пассажиров выбрали низший класс. 
Средний класс выбрала только четверть пассажиров.



TASK 5.
Создадим новую таблицу, в которой будут только выжившие пассажиры.

In [ ]:
titanic2 = titanic[titanic['survived'] == 1].copy(deep=True)
titanic2.head()

In [ ]:
titanic2.info()

Всего выжило 342 пассажира.
Найдём процент взрослых мужчин в этой таблице.

In [ ]:
titanic2[titanic2['adult_male'] == True].groupby('sex').count()

Процент равен 88 / 342 * 100% = 25.73%. Он уменьшился в 2.34 раза по сравнению с предыдущей таблицей.

In [ ]:
titanic2.describe()

Процент выживших людей, выбравших поездку высшим классом, больше, чем процент всех людей, выбравших поездку высшим классом. 
В среднем выжившие заплатили за билет 48.4, а это на 6.2 больше, чем средняя плата среди всех людей.